BODY{
    MARGIN: 0;
    PADDING: 0;
    FONT-FAMILY: SANS-SERIF;
}

/*.HERO{
    POSITION: RELATIVE;
    WIDTH:100%;
    HEIGHT:100VH;
    BACKGROUND: #EFF4FD;

}*/
NAV{
    DISPLAY:FLEX;
    WIDTH:84%;
    MARGIN: AUTO;
    PADDING: 20PX 0;
}


NAV UL LI A{
    TEXT-DECORATION:NONE;
    COLOR:#000;
    FONT-WEIGHT:BOLD;
}

NAV UL LI A:HOVER{
    COLOR:RED;
}

.DETEL{
    MARGIN-LEFT:8%;
    MARGIN-TOP:15%;
}

.DETEL H1{
    FONT-SIZE:50PX;
    COLOR:BLUE;
    MARGIN-BOTTOM: 20PX;
}

SPAN{
    COLOR:ORANGE;
}

.DETEL P{
COLOR:#555;
LINE-HEIGHT:22PX;
}

.DETEL A{
    BACKGROUND:ORANGE;
    PADDING:10PX 18PX;
    TEXT-DECORATION:NONE;
    FONT-WEIGHT:BOLD;
    COLOR:#FFF;
    DISPLAY:INLINE-BLOCK;
    MARGIN:30PX O;
    BORDER-RADIUS:5PX;
}
.IMAGES{
    WIDTH: 10vw;
    HEIGHT: 10vh;
    POSITION: ABSOLUTE;
    top: 200px;
    RIGHT:200PX;

}

.IMAGES IMG{
    HEIGHT:100%;
    POSITION:ABSOLUTE;
    LEFT:50%;
    BOTTOM:0;
    TRANSFORM:TRANSLATEx(-50%);
    TRANSITION: BOTTOM IS,LEFT IS;
}
#red{
    border-radius: 50px;
}